.payment-container{
    display: flex;
}
.payment-column{
    flex: 1;
}
.select-payment-container{
    display: flex;
    flex-direction: column;
}
.select-payment-row{
    flex: 1;
    outline: 0.2em solid #d4d4d4;
    padding: 25px;
    margin: 10px;
}

.detail-payment-container{
    display: flex;
    flex-direction: column;
}
.detail-payment-row{
    flex: 1;
    outline: 0.2em solid #d4d4d4;
    padding: 10px;
    margin: 10px;
    width: 100%;
}
.payment-NeedHelp-content{
    margin-top: 10px;
    display: flex;
}

.payment-column-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.payment-column{
    display: flex;
}
.payment-row-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.payment-row{
    flex: 1;
    margin-top: 10px;
    width: 100%;
}

.payment-input-box{
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    width: 100%;
}

.needhelp-button{
    background-color: #d3d3d3;
    border: none;
    padding: 10px;
}

.payment-method-selection-box{
    padding:10px;
    float: left;
    clear: both;
    margin-bottom:10px;
    border-radius:3px;
    max-width:400px;
    text-align:justify;
    background-color: #d3d3d3;
}