.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo-image {
  height: 50px;
  width: auto;
}

.logo-text {
  color: purple;
  font-size: 24px;
  font-weight: bold;
  margin-left: 10px;
}

.header-options {
  display: flex;
  align-items: center;
}

.upload-product, .user-profile {
  display: block; /* Ensures Link behaves as block for padding */
  padding: 10px 20px;
  background-color: purple;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none; /* Removes underline from link */
  margin-right: 20px; /* Adds space to the right of the upload button */
}

.upload-product:last-child {
  margin-right: 0; /* Removes the margin from the last button, if you swap the order */
}

.upload-product:hover, .user-profile:hover {
  background-color: #7d3f98; /* A lighter purple on hover */
}

/* Additional styles for buttons inside the links, if needed */
.upload-product button, .user-profile button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}
