/* search bar */
button {
  cursor: pointer;
}

.capsule {
  border: solid 1px grey;
  border-radius: 30px;
  padding: 0 10px;
  margin-right: 4px;
  height: 32px;

  display: flex;
  align-items: center;
}

.search-area {
  margin: 8px;
}

.search-bar {
  height: 36px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: left;

  border: solid 1px #3333;
  border-radius: 8px;
}

.search {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  background-color: transparent;
  height: 100%;
}
.search-field {
  height: 70%;
}
.search img {
  width: 18px;
  height: 18px;
}

.saved {
  margin-right: 0;
  display: flex;
  align-items: center;
}
.saved img {
  width: 18px;
  height: 18px;
  margin-right: 2px;
}

/* stroke between items  */
.search-bar-item {
  position: relative;
  margin: 0 5px;
  height: 100%;
  display: flex;
  align-items: center;
}
.search-bar-item:not(:last-child)::after {
  content: "";
  position: absolute;
  right: -6px;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 1px;
  z-index: 2;
  background-color: #3333;
}

.search-tags-list {
  margin: 0 4px;
  padding: 0 4px;
  display: flex;
  overflow: scroll;
}
.search-tags-list::-webkit-scrollbar {
  height: 0;
  background-color: transparent;
}

.search-tags-list input {
  display: none;
}
.search-tags-list label {
  cursor: pointer;
}
.checked-label {
  border: solid 2px #8000ff;
}