/* ProductUploadPage.css */

/* General form styling */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for input fields and textareas */
  input[type="text"],
  input[type="file"],
  textarea {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Style for file input field */
  input[type="file"] {
    border: none;
  }
  
  /* Button styling */
  .upload{
    padding: 10px 20px;
    background-color: #8000ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  button:hover {
    background-color: #6600cc;
  }
  
  /* Product list page styles */
  .ProductListPage {
    margin: 20px auto;
    padding: 20px;
    max-width: 600px;
  }
  
  
