.cart-column-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.cart-column{
    display: flex;
}
.cart-row-container{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.cart-row{
    flex: 1;
    margin-top: 10px;
    width: 100%;
}